*{

	margin: 0;
	padding: 0;
}

body {

	background-color:  #424250;
	font-family: arial;
	padding-bottom: 100px;
}
.top_header{

	width: 750px;
	margin: auto;
	margin-top: 50px;
	/*background-color: #fbad03;*/
	background-color: #33333D;
	padding: 25px;
	border-radius: 4px;	
	border:1px solid grey;

}


.top_header > .menu_container_top > ul > a > li{

	list-style-type: none;
	margin: 5px;

	display: inline;
}

.top_header > .menu_container_top > ul > a{

	text-decoration: none;
	margin: 32px;
	color: white;
	font: bold;
	transition: .3s;
	font-size: 14px;
	font-weight: bold;

}

.top_header > .menu_container_top > ul > a:hover{

	color: 	#F44336;
	transition: .3s;
}


#image_cont_00 {

	background-color: white;
	margin: auto;
	margin-top: 60px;
	width: 800px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

















.tech-slideshow {
  height: 247px;
  max-width: 800px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
}

.tech-slideshow > div {
  height: 200px;
  width: 2526px;
  background: url(../image/slide_00.png);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  transform: translate3d(0, 0, 0);
}
.tech-slideshow .mover-1 {
  animation: moveSlideshow 25s linear infinite;
}
.tech-slideshow .mover-2 {
  opacity: 0;
  transition: opacity 0.5s ease-out;
  background-position: 0 -200px;
  animation: moveSlideshow 15s linear infinite;
}


@keyframes moveSlideshow {
  100% { 
    transform: translateX(-66.6666%);  
  }
}
























@import url(//fonts.googleapis.com/css?family=Six+Caps|Open+Sans:400,300,600);



h2 {
  font: 300 33px/40px 'Open Sans', sans-serif;
  color: #cfd8ee;
  margin: 0 0 23px;
}
h3 {
  font: 13px/20px 'Open Sans', sans-serif;
  color: #e7efff;
  margin: 0 0 6px;
}
p {
  margin-bottom: 10px;
  font: 13px/20px 'Open Sans', sans-serif;
}

hr {
    background-color: #51596d;
    border: none;
    height: 1px;
    margin: 0 0 21px;
}

.contact {
  padding: 63px 85px 50px 80px;
  color: #8391ab;
  width: 640px;
  background-color: #33333D;
  margin:30px auto;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border:3px solid #0b5f7e;
  /* box-shadow */
}
.prefix {
  width: 48px;
  display: inline-block;

}
.email {
  color: #ffffff;
  margin-left: 5px;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}
.email:hover {
  color: #cfd8ee;
  text-decoration: none;
}


.content_container {

	width: 750px;
	background-color: #33333D;
	padding: 20px;
	margin: auto;
	border-radius: 4px;
	margin-top: 50px;
	border: 2px solid #F44336;
	
}